In [4]:
import tabulate

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
for number in list:
    print(number,end=" ")
else:
    print('else')

String working
escape sequence is one character \n is one not  \ and n separate

In [ ]:
name = 'intro to python'
empty=''
special ='1\n2'
print(len(special))

Concatenate and Repeat

In [30]:
print(name*5)
print(name[-1])
#print(name[50])
print(name[0:3])
print(name[2:])
print(name[:3])
print(name[:])
print(name[0:len(name)])

intro to pythonintro to pythonintro to pythonintro to pythonintro to python
n
int
tro to python
int
intro to python
intro to python

Tuples

In [34]:
t = 'abc',101,'okay'
print(t)
type(t)
2*t

('abc', 101, 'okay')

('abc', 101, 'okay', 'abc', 101, 'okay')

unpack

In [43]:
course = 'Python','Amey',101
course
language,name,roll= course
name

'Amey'

List

In [71]:
list = [1,2,3,4,5]
print(type(list))
3*list
list.append(10)
list.extend(list)
list.insert(0,10)
list.pop()
list.pop(0)
list.index(2)
list.count(10)
list.sort()
list.reverse()
list

<class 'list'>

[10, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [1]:
x = 10
x += 5
print(x)

15

In [2]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[1])

banana

In [6]:
class Vehicle: 
    def __init__(self, speed): 
        self.speed = speed 
class Car(Vehicle): 
    def __init__(self, speed, make): 
        super().__init__(speed) 
        self.make = make 
c = Car(100, "Toyota") 
print(c.speed)

100

In [7]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [8]:
x = 10
y = 5
if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

IndentationError: expected an indented block after 'if' statement on line 3 (1659859602.py, line 4)