In [1]:
import mysql.connector

db connection

In [31]:
db_connect = mysql.connector.connect(
  host="localhost",
  user="spydev",
  password="abdul101",
  database="examportal"
)

print(db_connect)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DB0731B650>

cursor

In [32]:
db_cursor = db_connect.cursor()
db_cursor

check tables

In [33]:
db_cursor.execute("show tables")

db_cursor.fetchall()

[('categorytable',),
 ('questiontable',),
 ('quiztable',),
 ('roletable',),
 ('usertable',)]

fetching data from table

In [44]:
db_cursor.execute("select * from roletable")

db_cursor.fetchall()

[(1, 'USER'), (2, 'TEACHER'), (3, 'Manager')]

info table

In [40]:
db_cursor.execute("describe roletable")

db_cursor.fetchall()

[('role_id', b'bigint', 'NO', 'PRI', None, 'auto_increment'),
 ('role_name', b'varchar(255)', 'YES', '', None, '')]

insert

In [43]:
query = "INSERT INTO roletable (role_name) VALUES (%s)"
value = ["Manager"]
db_cursor.execute(query, value)

db_connect.commit()

print(db_cursor.rowcount, "record inserted.")

1 record inserted.