In [3]:
import mysql.connector

db connection

In [11]:
db_connect = mysql.connector.connect(
  host="localhost",
  user="spydev",
  password="abdul101",
  database="examportal"
)

print(db_connect)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FA6424B410>

cursor

In [12]:
db_cursor = db_connect.cursor()
db_cursor

check tables

In [13]:
db_cursor.execute("show tables")
db_cursor.fetchall()

[('categorytable',),
 ('questiontable',),
 ('quiztable',),
 ('roletable',),
 ('usertable',)]

fetching data from table

In [18]:
db_cursor.execute("select * from quiztable as q inner join categorytable as c on q.category_category_id = c.category_id")

db_cursor.fetchall()

[(1,
  1,
  'beginer',
  0,
  '5',
  'first phycics',
  10,
  1,
  1,
  'basics pyhsics',
  'Physics'),
 (2,
  1,
  'begiener 2\n',
  10,
  '5',
  'phyics Second',
  10,
  1,
  1,
  'basics pyhsics',
  'Physics'),
 (3, 1, None, 2, '5', 'first quiz', 10, 2, 2, 'URDU IS OUR ', 'Urdu')]

info table

In [21]:
db_cursor.execute("describe quiztable")

db_cursor.fetchall()

[('quiz_id', b'bigint', 'NO', 'PRI', None, 'auto_increment'),
 ('active', b'bit(1)', 'NO', '', None, ''),
 ('description', b'varchar(5000)', 'YES', '', None, ''),
 ('number_of_questions', b'int', 'NO', '', None, ''),
 ('time', b'varchar(255)', 'YES', '', None, ''),
 ('title', b'varchar(255)', 'YES', '', None, ''),
 ('total_marks', b'int', 'NO', '', None, ''),
 ('category_category_id', b'bigint', 'YES', 'MUL', None, '')]

insert

In [24]:
query = "INSERT INTO roletable (role_name) VALUES (%s)"
value = ["Tester"]

db_cursor.execute(query, value)

db_connect.commit()

print(db_cursor.rowcount, "record inserted.")

1 record inserted.

update

In [ ]:
query = "INSERT INTO roletable (role_name) VALUES (%s)"
value = ["Tester"]

db_cursor.execute(query, value)

'''UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;'''